.more-screen .icon-row {
  margin-top: 35px;
}

.wallet {
  background-color: var(--yellow);
  padding: 24px;
}

.wallet__column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wallet__column:not(:last-child) {
  margin-bottom: 18px;
}

.wallet__title {
  display: flex;
  align-items: center;
}

.wallet__title__column {
  display: flex;
}
.wallet__column i {
  margin-right: 4px;
}

.wallet--yellow {
  background-color: #fffce1;
  padding: 12px;
  border-radius: 6px;
}
.wallet__bold {
  font-weight: 600;
}

.wallet__xl {
  font-size: 24px;
}

.wallet__bar {
  width: 1px;
  height: 18px;
  background-color: gray;
  margin: 0px 12px;
}
